In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
FBREF = pd.read_csv("final_FBREF_data.csv")
tran = pd.read_csv("final_transfermarkt_data.csv")
tran_2021 = pd.read_csv("2021values.csv")

In [3]:
FBREF.drop('Position', axis = 1, inplace = True)

# Replace special letters

In [4]:
from unidecode import unidecode

In [6]:
FBREF['Player'] = FBREF['Player'].apply(unidecode)
tran['Player'] = tran['Player'].apply(unidecode)
tran_2021['Players'] = tran_2021['Players'].apply(unidecode)

In [7]:
FBREF.head(5)

,Player,Age,Matches Played,Start,Minutes,Goals,Assists,Penalties Made,Yellow Cards,Red Cards,...,Goal Defense,Tackles,Tackles Won,Challenges,Successful Challenge %,Blocks,Interceptions,Tackles + Interceptions,Clearances,Errors
0,Ederson,28,35,35,"3,150",0.0,1.0,0.0,3.0,0.0,...,0.0,3.0,1,1.0,50.0,0.0,1,4.0,10.0,2.0
1,Rodri,26,36,34,"2,911",2.0,6.0,0.0,5.0,0.0,...,0.0,67.0,41,26.0,50.0,40.0,33,100.0,43.0,1.0
2,Haaland Erling,22,35,33,"2,769",36.0,8.0,7.0,5.0,0.0,...,0.0,3.0,2,1.0,20.0,12.0,3,6.0,14.0,0.0
3,De Bruyne Kevin,31,32,28,"2,417",7.0,16.0,0.0,1.0,0.0,...,0.0,28.0,12,14.0,35.9,27.0,9,37.0,10.0,0.0
4,Gundogan Ilkay,31,31,27,"2,353",8.0,4.0,0.0,0.0,0.0,...,0.0,30.0,18,12.0,36.4,18.0,20,50.0,13.0,0.0

In [8]:
tran.head(5)

,Player,Club,Age,Position,Nation,Value,League
0,Erling Haaland,Manchester City,22,Attack,Norway,180000000.0,Premier League
1,Kylian Mbappe,Paris Saint-Germain,24,Attack,France,180000000.0,Ligue 1
2,Vinicius Junior,Real Madrid,22,Attack,Brazil,150000000.0,La Liga
3,Jude Bellingham,Borussia Dortmund,19,midfield,England,120000000.0,Bundesliga
4,Bukayo Saka,Arsenal FC,21,Attack,England,120000000.0,Premier League

In [10]:
tran_2021 = tran_2021.rename(columns={'Players': 'Player'})
tran_2021

                  Player       Values
0          Kylian Mbappe  160000000.0
1         Erling Haaland  150000000.0
2        Vinicius Junior  100000000.0
3             Harry Kane   90000000.0
4          Mohamed Salah   90000000.0
...                  ...          ...
3358     Matteo Carnelos      25000.0
3359    Nicola Borghetto      25000.0
3360         Mamor Niang      25000.0
3361  Gianluca Ravarelli      10000.0
3362   Lorenzo Cannavale      10000.0

[3363 rows x 2 columns]

# Re ordering names from FBREF

In [11]:
def process_name(name):
    name_parts = name.split(' ')
    if len(name_parts) >= 3:
        space_index = name.find(' ')
        name = name[:space_index] + '$' + name[space_index+1:]
    return name

# Apply the function to the 'Player' column
FBREF['Player'] = FBREF['Player'].apply(process_name)

# Print the updated DataFrame
FBREF.head(4)

,Player,Age,Matches Played,Start,Minutes,Goals,Assists,Penalties Made,Yellow Cards,Red Cards,...,Goal Defense,Tackles,Tackles Won,Challenges,Successful Challenge %,Blocks,Interceptions,Tackles + Interceptions,Clearances,Errors
0,Ederson,28,35,35,"3,150",0.0,1.0,0.0,3.0,0.0,...,0.0,3.0,1,1.0,50.0,0.0,1,4.0,10.0,2.0
1,Rodri,26,36,34,"2,911",2.0,6.0,0.0,5.0,0.0,...,0.0,67.0,41,26.0,50.0,40.0,33,100.0,43.0,1.0
2,Haaland Erling,22,35,33,"2,769",36.0,8.0,7.0,5.0,0.0,...,0.0,3.0,2,1.0,20.0,12.0,3,6.0,14.0,0.0
3,De$Bruyne Kevin,31,32,28,"2,417",7.0,16.0,0.0,1.0,0.0,...,0.0,28.0,12,14.0,35.9,27.0,9,37.0,10.0,0.0

In [12]:
FBREF['Player'] = FBREF['Player'].apply(lambda x: ' '.join(x.split()[::-1]))
FBREF.head(5)

,Player,Age,Matches Played,Start,Minutes,Goals,Assists,Penalties Made,Yellow Cards,Red Cards,...,Goal Defense,Tackles,Tackles Won,Challenges,Successful Challenge %,Blocks,Interceptions,Tackles + Interceptions,Clearances,Errors
0,Ederson,28,35,35,"3,150",0.0,1.0,0.0,3.0,0.0,...,0.0,3.0,1,1.0,50.0,0.0,1,4.0,10.0,2.0
1,Rodri,26,36,34,"2,911",2.0,6.0,0.0,5.0,0.0,...,0.0,67.0,41,26.0,50.0,40.0,33,100.0,43.0,1.0
2,Erling Haaland,22,35,33,"2,769",36.0,8.0,7.0,5.0,0.0,...,0.0,3.0,2,1.0,20.0,12.0,3,6.0,14.0,0.0
3,Kevin De$Bruyne,31,32,28,"2,417",7.0,16.0,0.0,1.0,0.0,...,0.0,28.0,12,14.0,35.9,27.0,9,37.0,10.0,0.0
4,Ilkay Gundogan,31,31,27,"2,353",8.0,4.0,0.0,0.0,0.0,...,0.0,30.0,18,12.0,36.4,18.0,20,50.0,13.0,0.0

In [13]:
def remove_dollar_sign(name):
    return name.replace('$', ' ')

# Apply the function to the 'Player' column where names contain a dollar sign
FBREF.loc[FBREF['Player'].str.contains('\$'), 'Player'] = FBREF.loc[FBREF['Player'].str.contains('\$'), 'Player'].apply(remove_dollar_sign)

# Print the updated DataFrame
FBREF.head(5)

,Player,Age,Matches Played,Start,Minutes,Goals,Assists,Penalties Made,Yellow Cards,Red Cards,...,Goal Defense,Tackles,Tackles Won,Challenges,Successful Challenge %,Blocks,Interceptions,Tackles + Interceptions,Clearances,Errors
0,Ederson,28,35,35,"3,150",0.0,1.0,0.0,3.0,0.0,...,0.0,3.0,1,1.0,50.0,0.0,1,4.0,10.0,2.0
1,Rodri,26,36,34,"2,911",2.0,6.0,0.0,5.0,0.0,...,0.0,67.0,41,26.0,50.0,40.0,33,100.0,43.0,1.0
2,Erling Haaland,22,35,33,"2,769",36.0,8.0,7.0,5.0,0.0,...,0.0,3.0,2,1.0,20.0,12.0,3,6.0,14.0,0.0
3,Kevin De Bruyne,31,32,28,"2,417",7.0,16.0,0.0,1.0,0.0,...,0.0,28.0,12,14.0,35.9,27.0,9,37.0,10.0,0.0
4,Ilkay Gundogan,31,31,27,"2,353",8.0,4.0,0.0,0.0,0.0,...,0.0,30.0,18,12.0,36.4,18.0,20,50.0,13.0,0.0

# Dealing with Duplicated Names

In [14]:
duplicates = tran[tran.duplicated(subset='Player', keep=False)]
print(duplicates)

                Player                    Club  Age    Position  Nation  \
46          Marquinhos     Paris Saint-Germain   29    Defender  Brazil
113            Ederson         Manchester City   29  Goalkeeper  Brazil
416            Ederson             Atalanta BC   23    midfield  Brazil
1727  Alvaro Fernandez  RCD Espanyol Barcelona   25  Goalkeeper   Spain
2645  Alvaro Fernandez       Manchester United   20    Defender   Spain
2651        Marquinhos              Arsenal FC   20      Attack  Brazil

           Value          League
46    65000000.0         Ligue 1
113   40000000.0  Premier League
416   20000000.0         Serie A
1727   2500000.0         La Liga
2645       629.0  Premier League
2651       611.0  Premier League

In [15]:
duplicated_names = FBREF[FBREF.duplicated(subset='Player', keep=False)]['Player']

for name, count in duplicated_names.value_counts().items():
    if count > 1:
        print(f"Duplicate name: {name}")
        players = FBREF[FBREF['Player'] == name]
        for index, player in players.iterrows():
            print(f"    {player['Player']} - Age: {player['Age']}, Matches Played: {player['Matches Played']}")

Duplicate name: Julian Ryerson
    Julian Ryerson - Age: 24, Matches Played: 17
    Julian Ryerson - Age: 24, Matches Played: 13
    Julian Ryerson - Age: 24, Matches Played: 17
Duplicate name: Joao Cancelo
    Joao Cancelo - Age: 28, Matches Played: 17
    Joao Cancelo - Age: 28, Matches Played: 15
    Joao Cancelo - Age: 28, Matches Played: 15
Duplicate name: Yann Sommer
    Yann Sommer - Age: 33, Matches Played: 19
    Yann Sommer - Age: 33, Matches Played: 10
    Yann Sommer - Age: 33, Matches Played: 19
Duplicate name: Marcel Sabitzer
    Marcel Sabitzer - Age: 28, Matches Played: 11
    Marcel Sabitzer - Age: 28, Matches Played: 15
    Marcel Sabitzer - Age: 28, Matches Played: 15
Duplicate name: Nico Schlotterbeck
    Nico Schlotterbeck - Age: 22, Matches Played: 28
    Nico Schlotterbeck - Age: 22, Matches Played: 28
Duplicate name: Sven Ulreich
    Sven Ulreich - Age: 33, Matches Played: 3
    Sven Ulreich - Age: 33, Matches Played: 3
Duplicate name: Mathys Tel
    Mathys Tel - Age: 17, Matches Played: 22
    Mathys Tel - Age: 17, Matches Played: 22
Duplicate name: Daley Blind
    Daley Blind - Age: 32, Matches Played: 4
    Daley Blind - Age: 32, Matches Played: 4
Duplicate name: Paul Wanner
    Paul Wanner - Age: 16, Matches Played: 2
    Paul Wanner - Age: 16, Matches Played: 2
Duplicate name: Jude Bellingham
    Jude Bellingham - Age: 19, Matches Played: 31
    Jude Bellingham - Age: 19, Matches Played: 31
Duplicate name: Julian Brandt
    Julian Brandt - Age: 26, Matches Played: 32
    Julian Brandt - Age: 26, Matches Played: 32
Duplicate name: Gregor Kobel
    Gregor Kobel - Age: 24, Matches Played: 27
    Gregor Kobel - Age: 24, Matches Played: 27
Duplicate name: Raphael Guerreiro
    Raphael Guerreiro - Age: 28, Matches Played: 27
    Raphael Guerreiro - Age: 28, Matches Played: 27
Duplicate name: Josip Stanisic
    Josip Stanisic - Age: 22, Matches Played: 14
    Josip Stanisic - Age: 22, Matches Played: 14
Duplicate name: Mats Hummels
    Mats Hummels - Age: 33, Matches Played: 30
    Mats Hummels - Age: 33, Matches Played: 30
Duplicate name: Niklas Sule
    Niklas Sule - Age: 26, Matches Played: 29
    Niklas Sule - Age: 26, Matches Played: 29
Duplicate name: Donyell Malen
    Donyell Malen - Age: 23, Matches Played: 26
    Donyell Malen - Age: 23, Matches Played: 26
Duplicate name: Emre Can
    Emre Can - Age: 28, Matches Played: 27
    Emre Can - Age: 28, Matches Played: 27
Duplicate name: Karim Adeyemi
    Karim Adeyemi - Age: 20, Matches Played: 24
    Karim Adeyemi - Age: 20, Matches Played: 24
Duplicate name: Salih Ozcan
    Salih Ozcan - Age: 24, Matches Played: 26
    Salih Ozcan - Age: 24, Matches Played: 26
Duplicate name: Marius Wolf
    Marius Wolf - Age: 27, Matches Played: 25
    Marius Wolf - Age: 27, Matches Played: 25
Duplicate name: Ryan Gravenberch
    Ryan Gravenberch - Age: 20, Matches Played: 24
    Ryan Gravenberch - Age: 20, Matches Played: 24
Duplicate name: Ederson
    Ederson - Age: 28, Matches Played: 35
    Ederson - Age: 23, Matches Played: 35
Duplicate name: Lucas Hernandez
    Lucas Hernandez - Age: 26, Matches Played: 7
    Lucas Hernandez - Age: 26, Matches Played: 7
Duplicate name: Sebastien Haller
    Sebastien Haller - Age: 28, Matches Played: 19
    Sebastien Haller - Age: 28, Matches Played: 19
Duplicate name: Ionut Radu
    Ionut Radu - Age: 25, Matches Played: 9
    Ionut Radu - Age: 25, Matches Played: 17
Duplicate name: Joshua Kimmich
    Joshua Kimmich - Age: 27, Matches Played: 33
    Joshua Kimmich - Age: 27, Matches Played: 33
Duplicate name: Benjamin Pavard
    Benjamin Pavard - Age: 26, Matches Played: 30
    Benjamin Pavard - Age: 26, Matches Played: 30
Duplicate name: Matthijs Ligt
    Matthijs Ligt - Age: 22, Matches Played: 31
    Matthijs Ligt - Age: 22, Matches Played: 31
Duplicate name: Dayot Upamecano
    Dayot Upamecano - Age: 23, Matches Played: 29
    Dayot Upamecano - Age: 23, Matches Played: 29
Duplicate name: Jamal Musiala
    Jamal Musiala - Age: 19, Matches Played: 33
    Jamal Musiala - Age: 19, Matches Played: 33
Duplicate name: Alphonso Davies
    Alphonso Davies - Age: 21, Matches Played: 26
    Alphonso Davies - Age: 21, Matches Played: 26
Duplicate name: Serge Gnabry
    Serge Gnabry - Age: 27, Matches Played: 34
    Serge Gnabry - Age: 27, Matches Played: 34
Duplicate name: Leon Goretzka
    Leon Goretzka - Age: 27, Matches Played: 27
    Leon Goretzka - Age: 27, Matches Played: 27
Duplicate name: Thomas Muller
    Thomas Muller - Age: 32, Matches Played: 27
    Thomas Muller - Age: 32, Matches Played: 27
Duplicate name: Leroy Sane
    Leroy Sane - Age: 26, Matches Played: 32
    Leroy Sane - Age: 26, Matches Played: 32
Duplicate name: Sadio Mane
    Sadio Mane - Age: 30, Matches Played: 25
    Sadio Mane - Age: 30, Matches Played: 25
Duplicate name: Kingsley Coman
    Kingsley Coman - Age: 26, Matches Played: 24
    Kingsley Coman - Age: 26, Matches Played: 24
Duplicate name: Eric Maxim Choupo-Moting
    Eric Maxim Choupo-Moting - Age: 33, Matches Played: 19
    Eric Maxim Choupo-Moting - Age: 33, Matches Played: 19
Duplicate name: Manuel Neuer
    Manuel Neuer - Age: 36, Matches Played: 12
    Manuel Neuer - Age: 36, Matches Played: 12
Duplicate name: Noussair Mazraoui
    Noussair Mazraoui - Age: 24, Matches Played: 19
    Noussair Mazraoui - Age: 24, Matches Played: 19
Duplicate name: Youssoufa Moukoko
    Youssoufa Moukoko - Age: 17, Matches Played: 26
    Youssoufa Moukoko - Age: 17, Matches Played: 26
Duplicate name: Marco Reus
    Marco Reus - Age: 33, Matches Played: 25
    Marco Reus - Age: 33, Matches Played: 25
Duplicate name: Karl Toko Ekambi
    Karl Toko Ekambi - Age: 29, Matches Played: 17
    Karl Toko Ekambi - Age: 29, Matches Played: 19
Duplicate name: Myziane Maolida
    Myziane Maolida - Age: 23, Matches Played: 3
    Myziane Maolida - Age: 23, Matches Played: 9
Duplicate name: Vitinha
    Vitinha - Age: 22, Matches Played: 36
    Vitinha - Age: 22, Matches Played: 14
Duplicate name: Adrien Thomasson
    Adrien Thomasson - Age: 28, Matches Played: 20
    Adrien Thomasson - Age: 28, Matches Played: 15
Duplicate name: Ignatius Ganago
    Ignatius Ganago - Age: 23, Matches Played: 4
    Ignatius Ganago - Age: 23, Matches Played: 28
Duplicate name: Bamba Dieng
    Bamba Dieng - Age: 22, Matches Played: 10
    Bamba Dieng - Age: 22, Matches Played: 15
Duplicate name: Azzedine Ounahi
    Azzedine Ounahi - Age: 22, Matches Played: 7
    Azzedine Ounahi - Age: 22, Matches Played: 15
Duplicate name: Amine Gouiri
    Amine Gouiri - Age: 22, Matches Played: 33
    Amine Gouiri - Age: 22, Matches Played: 3
Duplicate name: Gaetan Laborde
    Gaetan Laborde - Age: 28, Matches Played: 4
    Gaetan Laborde - Age: 28, Matches Played: 33
Duplicate name: Florian Niederlechner
    Florian Niederlechner - Age: 31, Matches Played: 14
    Florian Niederlechner - Age: 31, Matches Played: 16
Duplicate name: Akim Zedadka
    Akim Zedadka - Age: 27, Matches Played: 8
    Akim Zedadka - Age: 27, Matches Played: 20
Duplicate name: Chrislain Matsima
    Chrislain Matsima - Age: 20, Matches Played: 8
    Chrislain Matsima - Age: 20, Matches Played: 6
Duplicate name: Romain Faivre
    Romain Faivre - Age: 24, Matches Played: 10
    Romain Faivre - Age: 24, Matches Played: 16
Duplicate name: Terem Moffi
    Terem Moffi - Age: 23, Matches Played: 16
    Terem Moffi - Age: 23, Matches Played: 18
Duplicate name: Andy Delort
    Andy Delort - Age: 30, Matches Played: 14
    Andy Delort - Age: 30, Matches Played: 12
Duplicate name: Banzouzi Locko
    Banzouzi Locko - Age: 20, Matches Played: 15
    Banzouzi Locko - Age: 20, Matches Played: 7
Duplicate name: Issiaga Sylla
    Issiaga Sylla - Age: 28, Matches Played: 15
    Issiaga Sylla - Age: 28, Matches Played: 17
Duplicate name: Jere Uronen
    Jere Uronen - Age: 28, Matches Played: 11
    Jere Uronen - Age: 28, Matches Played: 6
Duplicate name: Davie Selke
    Davie Selke - Age: 27, Matches Played: 17
    Davie Selke - Age: 27, Matches Played: 13
Duplicate name: Koray Gunter
    Koray Gunter - Age: 27, Matches Played: 13
    Koray Gunter - Age: 27, Matches Played: 10
Duplicate name: Felix Passlack
    Felix Passlack - Age: 24, Matches Played: 3
    Felix Passlack - Age: 24, Matches Played: 3
Duplicate name: Anthony Modeste
    Anthony Modeste - Age: 34, Matches Played: 19
    Anthony Modeste - Age: 34, Matches Played: 19
Duplicate name: Alexander Meyer
    Alexander Meyer - Age: 31, Matches Played: 7
    Alexander Meyer - Age: 31, Matches Played: 7
Duplicate name: Thomas Meunier
    Thomas Meunier - Age: 30, Matches Played: 10
    Thomas Meunier - Age: 30, Matches Played: 10
Duplicate name: Gio Reyna
    Gio Reyna - Age: 19, Matches Played: 22
    Gio Reyna - Age: 19, Matches Played: 22
Duplicate name: Jamie Bynoe-Gittens
    Jamie Bynoe-Gittens - Age: 17, Matches Played: 15
    Jamie Bynoe-Gittens - Age: 17, Matches Played: 15
Duplicate name: Mahmoud Dahoud
    Mahmoud Dahoud - Age: 26, Matches Played: 9
    Mahmoud Dahoud - Age: 26, Matches Played: 9
Duplicate name: Thorgan Hazard
    Thorgan Hazard - Age: 29, Matches Played: 14
    Thorgan Hazard - Age: 29, Matches Played: 14
Duplicate name: Soumaila Coulibaly
    Soumaila Coulibaly - Age: 18, Matches Played: 1
    Soumaila Coulibaly - Age: 18, Matches Played: 1
Duplicate name: Nathan N'Goumou
    Nathan N'Goumou - Age: 22, Matches Played: 20
    Nathan N'Goumou - Age: 22, Matches Played: 1
Duplicate name: Jerome Roussillon
    Jerome Roussillon - Age: 29, Matches Played: 16
    Jerome Roussillon - Age: 29, Matches Played: 4
Duplicate name: Genki Haraguchi
    Genki Haraguchi - Age: 31, Matches Played: 11
    Genki Haraguchi - Age: 31, Matches Played: 11
Duplicate name: Maximilian Philipp
    Maximilian Philipp - Age: 28, Matches Played: 3
    Maximilian Philipp - Age: 28, Matches Played: 15
Duplicate name: Nicolas Cozza
    Nicolas Cozza - Age: 23, Matches Played: 5
    Nicolas Cozza - Age: 23, Matches Played: 17
Duplicate name: Ludovic Ajorque
    Ludovic Ajorque - Age: 28, Matches Played: 17
    Ludovic Ajorque - Age: 28, Matches Played: 13
Duplicate name: Angelo Fulgini
    Angelo Fulgini - Age: 25, Matches Played: 16
    Angelo Fulgini - Age: 25, Matches Played: 17
Duplicate name: Jonas Omlin
    Jonas Omlin - Age: 28, Matches Played: 15
    Jonas Omlin - Age: 28, Matches Played: 14
Duplicate name: Alex Ferrari
    Alex Ferrari - Age: 28, Matches Played: 16
    Alex Ferrari - Age: 28, Matches Played: 12
Duplicate name: Ondrej Duda
    Ondrej Duda - Age: 27, Matches Played: 15
    Ondrej Duda - Age: 27, Matches Played: 13
Duplicate name: Rodri
    Rodri - Age: 26, Matches Played: 36
    Rodri - Age: 22, Matches Played: 30
Duplicate name: Dango Ouattara
    Dango Ouattara - Age: 20, Matches Played: 19
    Dango Ouattara - Age: 20, Matches Played: 18
Duplicate name: Naouirou Ahamada
    Naouirou Ahamada - Age: 20, Matches Played: 8
    Naouirou Ahamada - Age: 20, Matches Played: 17
Duplicate name: Joao Felix
    Joao Felix - Age: 22, Matches Played: 16
    Joao Felix - Age: 22, Matches Played: 14
Duplicate name: Benoit Badiashile
    Benoit Badiashile - Age: 21, Matches Played: 11
    Benoit Badiashile - Age: 21, Matches Played: 11
Duplicate name: Craig Dawson
    Craig Dawson - Age: 32, Matches Played: 17
    Craig Dawson - Age: 32, Matches Played: 8
Duplicate name: Mario Lemina
    Mario Lemina - Age: 28, Matches Played: 19
    Mario Lemina - Age: 28, Matches Played: 14
Duplicate name: Matheus Cunha
    Matheus Cunha - Age: 23, Matches Played: 17
    Matheus Cunha - Age: 23, Matches Played: 11
Duplicate name: Pablo Sarabia
    Pablo Sarabia - Age: 30, Matches Played: 13
    Pablo Sarabia - Age: 30, Matches Played: 14
Duplicate name: Hamed Junior Traore
    Hamed Junior Traore - Age: 22, Matches Played: 7
    Hamed Junior Traore - Age: 22, Matches Played: 11
Duplicate name: Daniel James
    Daniel James - Age: 24, Matches Played: 20
    Daniel James - Age: 24, Matches Played: 4
Duplicate name: Felipe
    Felipe - Age: 33, Matches Played: 16
    Felipe - Age: 33, Matches Played: 3
Duplicate name: Danilo
    Danilo - Age: 21, Matches Played: 13
    Danilo - Age: 31, Matches Played: 37
Duplicate name: Wout Faes
    Wout Faes - Age: 24, Matches Played: 31
    Wout Faes - Age: 24, Matches Played: 3
Duplicate name: Tete
    Tete - Age: 22, Matches Played: 13
    Tete - Age: 22, Matches Played: 17
Duplicate name: Ayoze Perez
    Ayoze Perez - Age: 29, Matches Played: 8
    Ayoze Perez - Age: 29, Matches Played: 19
Duplicate name: Weston McKennie
    Weston McKennie - Age: 23, Matches Played: 19
    Weston McKennie - Age: 23, Matches Played: 15
Duplicate name: Diego Llorente
    Diego Llorente - Age: 28, Matches Played: 8
    Diego Llorente - Age: 28, Matches Played: 9
Duplicate name: Sasa Lukic
    Sasa Lukic - Age: 25, Matches Played: 12
    Sasa Lukic - Age: 25, Matches Played: 16
Duplicate name: Kevin Schade
    Kevin Schade - Age: 20, Matches Played: 18
    Kevin Schade - Age: 20, Matches Played: 8
Duplicate name: Sam Lammers
    Sam Lammers - Age: 25, Matches Played: 14
    Sam Lammers - Age: 25, Matches Played: 19
Duplicate name: Anthony Gordon
    Anthony Gordon - Age: 21, Matches Played: 16
    Anthony Gordon - Age: 21, Matches Played: 16
Duplicate name: Leandro Trossard
    Leandro Trossard - Age: 27, Matches Played: 20
    Leandro Trossard - Age: 27, Matches Played: 16
Duplicate name: Jorginho
    Jorginho - Age: 30, Matches Played: 14
    Jorginho - Age: 30, Matches Played: 18
Duplicate name: Jakub Kiwior
    Jakub Kiwior - Age: 22, Matches Played: 7
    Jakub Kiwior - Age: 22, Matches Played: 17
Duplicate name: Albert Sambi Lokonga
    Albert Sambi Lokonga - Age: 22, Matches Played: 6
    Albert Sambi Lokonga - Age: 22, Matches Played: 9
Duplicate name: Cedric Soares
    Cedric Soares - Age: 30, Matches Played: 2
    Cedric Soares - Age: 30, Matches Played: 6
Duplicate name: Marquinhos
    Marquinhos - Age: 19, Matches Played: 1
    Marquinhos - Age: 28, Matches Played: 33
Duplicate name: Alexander Isak
    Alexander Isak - Age: 22, Matches Played: 22
    Alexander Isak - Age: 22, Matches Played: 2
Duplicate name: Chris Wood
    Chris Wood - Age: 30, Matches Played: 18
    Chris Wood - Age: 30, Matches Played: 7
Duplicate name: Arnaut Danjuma
    Arnaut Danjuma - Age: 25, Matches Played: 9
    Arnaut Danjuma - Age: 25, Matches Played: 10
Duplicate name: Jonjo Shelvey
    Jonjo Shelvey - Age: 30, Matches Played: 3
    Jonjo Shelvey - Age: 30, Matches Played: 8
Duplicate name: Alex Moreno
    Alex Moreno - Age: 29, Matches Played: 19
    Alex Moreno - Age: 29, Matches Played: 15
Duplicate name: Danny Ings
    Danny Ings - Age: 30, Matches Played: 18
    Danny Ings - Age: 30, Matches Played: 17
Duplicate name: Leander Dendoncker
    Leander Dendoncker - Age: 27, Matches Played: 20
    Leander Dendoncker - Age: 27, Matches Played: 4
Duplicate name: Jan Bednarek
    Jan Bednarek - Age: 26, Matches Played: 3
    Jan Bednarek - Age: 26, Matches Played: 20
Duplicate name: Ludwig Augustinsson
    Ludwig Augustinsson - Age: 28, Matches Played: 3
    Ludwig Augustinsson - Age: 28, Matches Played: 4
Duplicate name: Bryan Gil
    Bryan Gil - Age: 21, Matches Played: 4
    Bryan Gil - Age: 21, Matches Played: 17
Duplicate name: Georginio Rutter
    Georginio Rutter - Age: 20, Matches Played: 11
    Georginio Rutter - Age: 20, Matches Played: 15
Duplicate name: Kamaldeen Sulemana
    Kamaldeen Sulemana - Age: 20, Matches Played: 18
    Kamaldeen Sulemana - Age: 20, Matches Played: 14
Duplicate name: Memphis
    Memphis - Age: 28, Matches Played: 2
    Memphis - Age: 28, Matches Played: 8
Duplicate name: Giorgos Kyriakopoulos
    Giorgos Kyriakopoulos - Age: 26, Matches Played: 12
    Giorgos Kyriakopoulos - Age: 26, Matches Played: 12
Duplicate name: Ruslan Malinovskyi
    Ruslan Malinovskyi - Age: 29, Matches Played: 15
    Ruslan Malinovskyi - Age: 29, Matches Played: 20
Duplicate name: Nadir Zortea
    Nadir Zortea - Age: 23, Matches Played: 9
    Nadir Zortea - Age: 23, Matches Played: 10
Duplicate name: Mohamed Camara
    Mohamed Camara - Age: 25, Matches Played: 15
    Mohamed Camara - Age: 22, Matches Played: 29
Duplicate name: Filip Kostic
    Filip Kostic - Age: 29, Matches Played: 37
    Filip Kostic - Age: 29, Matches Played: 1
Duplicate name: Arkadiusz Milik
    Arkadiusz Milik - Age: 28, Matches Played: 27
    Arkadiusz Milik - Age: 28, Matches Played: 2
Duplicate name: Leandro Paredes
    Leandro Paredes - Age: 28, Matches Played: 25
    Leandro Paredes - Age: 28, Matches Played: 3
Duplicate name: Youssef Maleh
    Youssef Maleh - Age: 23, Matches Played: 7
    Youssef Maleh - Age: 23, Matches Played: 17
Duplicate name: Ivan Ilic
    Ivan Ilic - Age: 21, Matches Played: 14
    Ivan Ilic - Age: 21, Matches Played: 11
Duplicate name: Alexander Sorloth
    Alexander Sorloth - Age: 26, Matches Played: 34
    Alexander Sorloth - Age: 26, Matches Played: 1
Duplicate name: Andrew Gravillon
    Andrew Gravillon - Age: 24, Matches Played: 7
    Andrew Gravillon - Age: 24, Matches Played: 13
Duplicate name: Kingsley Ehizibue
    Kingsley Ehizibue - Age: 27, Matches Played: 27
    Kingsley Ehizibue - Age: 27, Matches Played: 1
Duplicate name: Jean-Victor Makengo
    Jean-Victor Makengo - Age: 24, Matches Played: 16
    Jean-Victor Makengo - Age: 24, Matches Played: 15
Duplicate name: Bram Nuytinck
    Bram Nuytinck - Age: 32, Matches Played: 6
    Bram Nuytinck - Age: 32, Matches Played: 19
Duplicate name: Armand Lauriente
    Armand Lauriente - Age: 23, Matches Played: 28
    Armand Lauriente - Age: 23, Matches Played: 3
Duplicate name: Nedim Bajrami
    Nedim Bajrami - Age: 23, Matches Played: 18
    Nedim Bajrami - Age: 23, Matches Played: 19
Duplicate name: Francesco Caputo
    Francesco Caputo - Age: 34, Matches Played: 21
    Francesco Caputo - Age: 34, Matches Played: 15
Duplicate name: Brandon Soppy
    Brandon Soppy - Age: 20, Matches Played: 15
    Brandon Soppy - Age: 20, Matches Played: 1
Duplicate name: Luca Pellegrini
    Luca Pellegrini - Age: 23, Matches Played: 7
    Luca Pellegrini - Age: 23, Matches Played: 9
Duplicate name: Bartosz Bereszynski
    Bartosz Bereszynski - Age: 30, Matches Played: 3
    Bartosz Bereszynski - Age: 30, Matches Played: 15
Duplicate name: Pierluigi Gollini
    Pierluigi Gollini - Age: 27, Matches Played: 4
    Pierluigi Gollini - Age: 27, Matches Played: 3
Duplicate name: Ramon Terrats
    Ramon Terrats - Age: 21, Matches Played: 16
    Ramon Terrats - Age: 21, Matches Played: 8
Duplicate name: Randy Ntekja
    Randy Ntekja - Age: 24, Matches Played: 10
    Randy Ntekja - Age: 24, Matches Played: 14
Duplicate name: Fernando
    Fernando - Age: 35, Matches Played: 22
    Fernando - Age: 32, Matches Played: 37
Duplicate name: Pape Gueye
    Pape Gueye - Age: 23, Matches Played: 16
    Pape Gueye - Age: 23, Matches Played: 14
Duplicate name: Carmona
    Carmona - Age: 20, Matches Played: 10
    Carmona - Age: 20, Matches Played: 9
Duplicate name: Sergi Guardiola
    Sergi Guardiola - Age: 31, Matches Played: 17
    Sergi Guardiola - Age: 31, Matches Played: 14
Duplicate name: Gonzalo Escalante
    Gonzalo Escalante - Age: 29, Matches Played: 14
    Gonzalo Escalante - Age: 29, Matches Played: 9
Duplicate name: Roger Marti
    Roger Marti - Age: 31, Matches Played: 14
    Roger Marti - Age: 31, Matches Played: 12
Duplicate name: Gonzalo Villar
    Gonzalo Villar - Age: 24, Matches Played: 16
    Gonzalo Villar - Age: 24, Matches Played: 15
Duplicate name: Nicolas Gonzalez
    Nicolas Gonzalez - Age: 20, Matches Played: 26
    Nicolas Gonzalez - Age: 24, Matches Played: 24
Duplicate name: Carlos Soler
    Carlos Soler - Age: 25, Matches Played: 3
    Carlos Soler - Age: 25, Matches Played: 26
Duplicate name: Luis Javier Suarez
    Luis Javier Suarez - Age: 24, Matches Played: 21
    Luis Javier Suarez - Age: 24, Matches Played: 7
Duplicate name: Fernando Pacheco

In [16]:
FBREF.sort_values('Age', ascending=False, inplace=True)
tran.sort_values('Age', ascending=False, inplace=True)

# Drop duplicates based on 'Player' column, keeping the first occurrence (older age)
FBREF.drop_duplicates(subset='Player', keep='first', inplace=True)
tran.drop_duplicates(subset='Player', keep='first', inplace=True)

In [17]:
duplicates = tran[tran.duplicated(subset='Player', keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Player, Club, Age, Position, Nation, Value, League]
Index: []

In [18]:
duplicates = FBREF[FBREF.duplicated(subset='Player', keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Player, Age, Matches Played, Start, Minutes, Goals, Assists, Penalties Made, Yellow Cards, Red Cards, Shots, Shots On Target, Shots On Target %, Goals Per Shot, Goals Per Shot On Target, Average Shot Distance, Shots From Freekicks, Passes Completed, Passes, Pass Completion %, Total Passing Distance, Progressive Passing Distance, Shot-Creating Actions, Shot-Creating Actions/90, SCA Pass Live, SCA Pass Dead, SCA Take-ons, SCA Shots, SCA Fouls, SCA Defense, Goal-Creating Actions, Goal-Creating Actions/90, Goal Pass Live, Goal Pass Dead, Goal Take-ons, Goal Shots, Goal Fouls, Goal Defense, Tackles, Tackles Won, Challenges, Successful Challenge %, Blocks, Interceptions, Tackles + Interceptions, Clearances, Errors]
Index: []

[0 rows x 47 columns]

In [19]:
tran.drop('Age', axis = 1, inplace = True)

# Merging data

In [20]:
merged_df = pd.merge(FBREF, tran, on=['Player'], how='left')

In [21]:
merged_df.dropna(subset=merged_df.columns[-5:], inplace=True)
merged_df = merged_df.sort_values('Value', ascending=False)
merged_df = merged_df.reset_index()
merged_df.fillna(0, inplace=True)

In [22]:
columns = merged_df.columns.tolist()
columns[-1], columns[-2] = columns[-2], columns[-1]
df = merged_df[columns]

In [23]:
df

,index,Player,Age,Matches Played,Start,Minutes,Goals,Assists,Penalties Made,Yellow Cards,...,Blocks,Interceptions,Tackles + Interceptions,Clearances,Errors,Club,Position,Nation,League,Value
0,1577,Kylian Mbappe,23,34,32,"2,818",29.0,5.0,3.0,6.0,...,5.0,5,15.0,6.0,0.0,Paris Saint-Germain,Attack,France,Ligue 1,180000000.0
1,1909,Erling Haaland,22,35,33,"2,769",36.0,8.0,7.0,5.0,...,12.0,3,6.0,14.0,0.0,Manchester City,Attack,Norway,Premier League,180000000.0
2,1901,Vinicius Junior,22,33,32,"2,823",10.0,9.0,0.0,10.0,...,24.0,6,36.0,1.0,0.0,Real Madrid,Attack,Brazil,La Liga,150000000.0
3,1656,Victor Osimhen,23,32,30,"2,566",26.0,4.0,2.0,4.0,...,6.0,6,16.0,29.0,0.0,SSC Napoli,Attack,Nigeria,Serie A,120000000.0
4,2181,Jude Bellingham,19,31,30,"2,691",8.0,4.0,1.0,8.0,...,51.0,35,111.0,30.0,0.0,Borussia Dortmund,midfield,England,Bundesliga,120000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,2262,Sanoussy Ba,18,1,0,1,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,RB Leipzig,Defender,Germany,Bundesliga,590.0
2033,275,Orjan Nyland,31,2,2,180,0.0,1.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,RB Leipzig,Goalkeeper,Norway,Bundesliga,580.0
2034,78,Anthony Modeste,34,19,7,813,2.0,1.0,0.0,4.0,...,7.0,2,6.0,22.0,0.0,Borussia Dortmund,Attack,France,Bundesliga,577.0
2035,31,Scott Carson,36,0,0,0,0.0,0.0,0.0,0.0,...,339.0,223,694.0,402.0,8.0,Manchester City,Goalkeeper,England,Premier League,567.0
2036,121,Sven Ulreich,33,3,3,270,0.0,0.0,0.0,1.0,...,0.0,0,1.0,0.0,1.0,Bayern Munich,Goalkeeper,Germany,Bundesliga,520.0

In [281]:
df.to_csv('dataset.csv', index=False)

# Value Differnece Dataset

In [45]:
merged_df = pd.merge(tran_2021, tran, on=['Player'], how='left')

In [46]:
merged_df

,Player,Values,Club,Position,Nation,Value,League
0,Kylian Mbappe,160000000.0,Paris Saint-Germain,Attack,France,180000000.0,Ligue 1
1,Erling Haaland,150000000.0,Manchester City,Attack,Norway,180000000.0,Premier League
2,Vinicius Junior,100000000.0,Real Madrid,Attack,Brazil,150000000.0,La Liga
3,Harry Kane,90000000.0,Tottenham Hotspur,Attack,England,90000000.0,Premier League
4,Mohamed Salah,90000000.0,Liverpool FC,Attack,Egypt,65000000.0,Premier League
...,...,...,...,...,...,...,...
3358,Matteo Carnelos,25000.0,NaN,NaN,NaN,NaN,NaN
3359,Nicola Borghetto,25000.0,NaN,NaN,NaN,NaN,NaN
3360,Mamor Niang,25000.0,NaN,NaN,NaN,NaN,NaN
3361,Gianluca Ravarelli,10000.0,NaN,NaN,NaN,NaN,NaN
3362,Lorenzo Cannavale,10000.0,NaN,NaN,NaN,NaN,NaN

In [47]:
merged_df.dropna(subset=merged_df.columns[-5:], inplace=True)
merged_df = merged_df.sort_values('Value', ascending=False)
merged_df = merged_df.reset_index()
merged_df.fillna(0, inplace=True)

In [48]:
merged_df['Cost'] = merged_df['Value'] - merged_df['Values']
merged_df = merged_df.drop(['Value', 'Values'], axis=1)
merged_df = merged_df.rename(columns={'Cost': 'Value'})
merged_df = merged_df.sort_values('Value', ascending=False)

In [67]:
columns = merged_df.columns.tolist()
columns[-1], columns[-2] = columns[-2], columns[-1]
df = merged_df[columns]
df = df.iloc[:, 1:]

In [68]:
df.head(25)

,Player,Club,Position,Nation,Value,League
25,Randal Kolo Muani,Eintracht Frankfurt,Attack,France,64000000.0,Bundesliga
4,Bukayo Saka,Arsenal FC,Attack,England,55000000.0,Premier League
5,Victor Osimhen,SSC Napoli,Attack,Nigeria,55000000.0,Serie A
2,Vinicius Junior,Real Madrid,Attack,Brazil,50000000.0,La Liga
71,Alejandro Balde,FC Barcelona,Defender,Spain,46000000.0,La Liga
12,Martin Odegaard,Arsenal FC,midfield,Norway,45000000.0,Premier League
7,Jamal Musiala,Bayern Munich,midfield,Germany,45000000.0,Bundesliga
3,Jude Bellingham,Borussia Dortmund,midfield,England,40000000.0,Bundesliga
39,Alexander Isak,Newcastle United,Attack,Sweden,40000000.0,Premier League
22,Gabriel Martinelli,Arsenal FC,Attack,Brazil,40000000.0,Premier League
10,Rodrygo,Real Madrid,Attack,Brazil,40000000.0,La Liga
33,Josko Gvardiol,RB Leipzig,Defender,Croatia,40000000.0,Bundesliga
87,Amadou Onana,Everton FC,midfield,Belgium,35000000.0,Premier League
46,William Saliba,Arsenal FC,Defender,France,35000000.0,Premier League
18,Eduardo Camavinga,Real Madrid,midfield,France,30000000.0,La Liga
54,Ousmane Dembele,FC Barcelona,Attack,France,30000000.0,La Liga
42,Bruno Guimaraes,Newcastle United,midfield,Brazil,30000000.0,Premier League
1,Erling Haaland,Manchester City,Attack,Norway,30000000.0,Premier League
188,Romeo Lavia,Southampton FC,midfield,Belgium,30000000.0,Premier League
17,Eduardo Camavinga,Real Madrid,midfield,France,30000000.0,La Liga
101,Giorgio Scalvini,Atalanta BC,Defender,Italy,30000000.0,Serie A
40,Bruno Guimaraes,Newcastle United,midfield,Brazil,30000000.0,Premier League
8,Federico Valverde,Real Madrid,midfield,Uruguay,30000000.0,La Liga
13,Gavi,FC Barcelona,midfield,Spain,30000000.0,La Liga
111,Morgan Gibbs-White,Nottingham Forest,midfield,England,29000000.0,Premier League

In [69]:
merged_df = pd.merge(FBREF, df, on=['Player'], how='left')

In [70]:
merged_df.dropna(subset=merged_df.columns[-5:], inplace=True)
merged_df = merged_df.sort_values('Value', ascending=False)
merged_df = merged_df.reset_index()
merged_df.fillna(0, inplace=True)

In [71]:
columns = merged_df.columns.tolist()
columns[-1], columns[-2] = columns[-2], columns[-1]
df = merged_df[columns]

In [72]:
df

,index,Player,Age,Matches Played,Start,Minutes,Goals,Assists,Penalties Made,Yellow Cards,...,Blocks,Interceptions,Tackles + Interceptions,Clearances,Errors,Club,Position,Nation,League,Value
0,1781,Randal Kolo Muani,23,32,31,"2,631",15.0,11.0,2.0,6.0,...,19.0,3,17.0,13.0,0.0,Eintracht Frankfurt,Attack,France,Bundesliga,64000000.0
1,2168,Bukayo Saka,20,38,37,"3,181",14.0,11.0,2.0,6.0,...,38.0,14,77.0,19.0,0.0,Arsenal FC,Attack,England,Premier League,55000000.0
2,1690,Victor Osimhen,23,32,30,"2,566",26.0,4.0,2.0,4.0,...,6.0,6,16.0,29.0,0.0,SSC Napoli,Attack,Nigeria,Serie A,55000000.0
3,1942,Vinicius Junior,22,33,32,"2,823",10.0,9.0,0.0,10.0,...,24.0,6,36.0,1.0,0.0,Real Madrid,Attack,Brazil,La Liga,50000000.0
4,2310,Alejandro Balde,18,33,30,"2,471",1.0,6.0,0.0,4.0,...,25.0,12,54.0,17.0,1.0,FC Barcelona,Defender,Spain,La Liga,46000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552,1331,Carlos Soler,25,3,3,242,1.0,0.0,1.0,0.0,...,1.0,0,2.0,2.0,0.0,Paris Saint-Germain,midfield,Spain,Ligue 1,-25000000.0
1553,1277,Arnaut Danjuma,25,10,6,479,2.0,0.0,1.0,0.0,...,0.0,0,3.0,1.0,1.0,Tottenham Hotspur,Attack,Netherlands,Premier League,-25000000.0
1554,1873,Jadon Sancho,22,26,21,"1,686",6.0,3.0,0.0,0.0,...,25.0,7,23.0,6.0,0.0,Manchester United,Attack,England,Premier League,-30000000.0
1555,546,Romelu Lukaku,29,25,19,"1,660",10.0,6.0,2.0,1.0,...,3.0,0,3.0,16.0,0.0,Inter Milan,Attack,Belgium,Serie A,-30000000.0
1556,365,Sadio Mane,30,25,18,"1,425",7.0,5.0,1.0,2.0,...,15.0,0,11.0,4.0,0.0,Bayern Munich,Attack,Senegal,Bundesliga,-45000000.0

In [73]:
df.to_csv('difference_dataset.csv', index=False)